:root{
    --color_white: white;
}

.header {
    background-color: black;
    height: 60px;
    width: 100vw;
}
.header_nav{
    display: inline-block;
    width: 500px;
    margin-top: 20px;
}
.logo {
    width: 100px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px ;
}
.main-nav{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
}
.main-nav li{
    display: inline;
    width: 10%;
    color: var(--color_white);
    margin-left: 10px;
    background-color: red;
}
.premium{
    border: solid 3px red;
    background-color: blue;
    color: var(--color_white);

}
.post{
    border: solid 3px red;
    background-color: blue;
}
.footer{
    border: solid 3px red;
    background-color: blue;
}