<header class="header">
    <img class="header__logo" src="./images/logo.png" alt="Logo" />
    <a href="#"><img class="header__menuIcon" src="/images/menu-icon.png" alt="Icono menú"></a>
    <nav class="nav">
      <ul class="nav__ul">
        <li><a href="">Premium</a></li>
        <li><a href="">Ayuda</a></li>
        <li><a href="">Descargar</a></li>
        <li><a href=""> | </a></li>
        <li><a href="">Resgistrarse</a></li>
        <li><a href="">Iniciar Sesion</a></li>
      </ul>
    </nav>
  </header>