<section class="post">
    <h2>¿Por qué pasarte a Premium?</h2>
    <div class="options">
      <article>
        <img src="./images/benefit-1.png" alt="">
        <h3>Descarga música</h3>
        <p>Llévala siempre contigo</p>
      </article>
      <article>
        <img src="./images/benefit-2.png" alt="">
        <h3>Sin anuncios</h3>
        <p>Disfruta de musica sin interrupciones</p>
      </article>
      <article>
        <img src="./images/benefit-3.png" alt="">
        <h3>Escucha lo que quieras</h3>
        <p>Incluso en el movil</p>
      </article>
      <article>
        <img src="./images/benefit-4.png" alt="">
        <h3>Salta todas las canciones que quieras</h3>
        <p>Simplemente dale a siguiente</p>
      </article>
    </div>
  </section>