<section class="post">
    <h2>¿Por qué pasarte a Premium?</h2>
    <div class="options">
      <load src="/partials/benefits.html" img="/images/benefit-1.png" title="Descarga música" desc="Llévala siempre contigo" />
      <load src="/partials/benefits.html" img="/images/benefit-2.png" title="Sin anuncios" desc="Disfruta de musica sin interrupciones" />
      <load src="/partials/benefits.html" img="/images/benefit-3.png" title="Escucha lo que quieras" desc="Incluso en el móvil" />
      <load src="/partials/benefits.html" img="/images/benefit-4.png" title="Salta todas las canciones que quieras" desc="Simplemente dale a siguiente" />
    </div>
  </section>